.search_box {
    width: 100%;
    margin: 0 0 35px;
  }
  
  /* NODE space between .search-box and .search-bar here is important */
  .search_box .search_bar { 
    display: block;
    width: 90%;
    padding: 15px;
  
    appearance:  none;
    background: none;
    border: none;
    outline: none;
  
    background-color: rgba(255,255,255,0.5);
    border-radius: 0px 0px 16px 16px;
    margin-top: -25px;
    margin-left: 5%;
  
    box-shadow: 0px 5px rgba(0,0,0, 0.2);
  
    color: black;
    font-size: 20px;
  
    transition: 0.4s ease;
  }
  
  
  /* NOTE focus is for when it's clicked */
  .search_box .search_bar:focus {
    background-color: rgba(255,255,255,0.75);
  }
  
  