.weather_information {
    align-items: stretch;
}

.left_column {
    float: left;
    position: absolute;
    text-align: left;
    padding-left: 15px;
    padding-top: 15px;
    line-height: 21px;
    font-family: 'Consolas';
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
    color: black;
    min-height: fit-content;
}

.right_column {
    text-align: right;
    margin-right: 20px;
    padding-top: 15px;
    line-height: 21px;
    font-family: 'Courier New';
    font-size: 17px;
}

table {
    /* font-family: arial, sans-serif; */
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    color: rgb(216, 215, 215);
    height: 20px;
}

@media only screen and (max-width: 520px) {
    .left_column ,.right_column {
        font-size: 13px;
        padding-top: 3px;
        line-height: 17px;
    }
    .right_column {
        margin-right: 12px;
    }
  
}