.forecast_window {
  width: 530px;
  height: 130px;
  display:flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.forecast_container {
  display: flex;
  width: 700px;
  height: 130px;
  /* background-color: rgba(255,255,255,0.5); */
  /* min-width: 500px;  */
  /* flex-flow: row; */
  margin-top: 10px;
  align-items: center;
  text-align: center;

  transition: transform 500ms;
}

.forecast_slider::before {
  width: 500px;
  height: 15px;
  position: absolute;
  background-color: rgb(31, 30, 30);
  background-image: linear-gradient(to bottom, #0E0E0E, rgba(0, 0, 0, 0.3));
  content: "";
  margin-bottom: 130px;
  border-radius: 0px 0px 16px 16px;

}

.forecast_container> div {
  margin-left: 12px;
  margin-right: 15px;
  width: 80px;
}


/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap'); */

p {
  margin-bottom: 4px;  
  margin-top:2px;
  font-family: 'Arvo', serif;
  font-size:  14px;
  width: 8ch;
}
.forecast_slider {

  border-radius: 0px 0px 16px 16px;
  background-color: #1F1F1F;
  color: #ffffff;

   overflow:hidden;
  float:right;
}

.left_arrow {
  background: url('../../assets/left_arrow.png');
  background-size: cover;
  border: none;

  position:relative;
  cursor: pointer;

  right:7px;
  height: 25px;
  width: 15px;
}

.right_arrow {
  background: url('../../assets/left_arrow.png');
  background-size: cover;
  border: none;

  transform: scalex(-1);
  position:relative;
  cursor: pointer;
  left:7px;
  top: 5x;
  height: 25px;
  width: 15px;
}

.left_arrow:hover, 
.right_arrow:hover {
  filter: drop-shadow(0px 0px 6px rgb(126, 153, 64));
}

@keyframes containerFadeIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -1000px, 0);
    transform: translate3d(0, -1000px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes unitTransition {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, -1000px);
    transform: translate3d(0, 0, -1000px);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}


.forecast_window {
  -webkit-animation-name: containerFadeIn;
    animation-name: containerFadeIn;
    animation-duration: 1.5s;
}

/* span { 
  -webkit-animation-name: unitTransition;
    animation-name: unitTransition;
    animation-duration: 5s;
} */



/* @media only screen and (max-width: 570px) {
  .left_arrow, 
  .right_arrow {
    display: none;
  }
  .forecast_window {
    width:500px;
  }
} */


@media only screen and (max-width: 520px) {
  .left_arrow, 
  .right_arrow {
    
  }
  .forecast_window, .forecast_slider::before {
    width:100%;
  }
  .forecast_slider{
    /* overflow-x: scroll;
    scrollbar-color: white; */
  }
  .forecast_container > div > img {
    height: 50px;
  }
  .forecast_container > div {
    margin-right: 10px;
    margin-left: 5px;
  }
  .forecast_slider:before {
    width: 89%;
  }
}