* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'montseratt', sans-serif;           
}

.app {
  background-size: cover;
  background-position: bottom;
  transition: 0.4s ease-out;

}
.app.cold {
  background-image: url('./assets/cold.png');
}

.app.warm {
  background-image: url('./assets/warm.png');
}

.app.normal {
  background-image: url('./assets/normal.jpg');
}
main {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0,0,0, 0.2), rgba(0,0 ,0, 0.75));
  /* padding: 25px; */
  padding-top: 25px;
}

.search_box {
  width: 100%;
  margin: 0 0 75px;
}

/* NODE space between .search-box and .search-bar here is important */
.search_box .search_bar { 
  display: block;
  width: 90%;
  padding: 15px;

  appearance:  none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255,255,255,0.5);
  border-radius: 0px 0px 16px 16px;
  margin-top: -25px;
  margin-left: 5%;

  box-shadow: 0px 5px rgba(0,0,0, 0.2);

  color: #313131;
  font-size: 20px;

  transition: 0.4s ease;
}


/* NOTE focus is for when it's clicked */
.search_box .search_bar:focus {
  background-color: rgba(255,255,255,0.75);
}

.location_box .location {
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);

}

.location_box .date {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);

  margin-bottom: 2%;
}

.main_container {
  background-color: rgba(255,255,255,0.5);
  border-radius: 16px 16px 0px 0px;
  /* padding: 0px 0px 0px 0px;
  margin: 20px auto; */
  width: 500px;
  height: 240px;
  display: flex;
  margin-left:auto;
  margin-right: auto;

  min-width: min-content;
  min-height: fit-content;
}

.weather_box {
  display: grid;
  background-color: rgba(255,255,255,0.2);
  width:  35%;
  height: inherit;
  box-shadow: 3px 6px rgba(0,0,0, 0.2);
  border-radius: 16px;
  padding: 15px 15px 50px 15px;

  /* min-width: min-content;
  max-width: min-content; */
}

.weather_box img[alt="main_icon"] {
  position:relative;
  left: 30%;
}

.weather_box .temp{
  position: relative;
  display: block;
  width: 4ch; 
  

  color: black;
  font-size: 62px;
  font-weight: 600;

  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  text-align: center;
}
/* 
.weather_box .weather {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
} */
.weather_box .weather_state {
  color: rgb(27, 27, 27);
  font-size: 24px;
  font-weight: 600;
  text-shadow: 0px 15px rgba(63, 63, 68, 0.5);
  text-align: center;
  margin-top:10px;
}
 
.weather_box .real_feel {
  text-align: center;
  font-size: 18px;
  color:rgb(27, 27, 27);

  font-weight: 600;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.weather_information {
  align-items:stretch;
}

.weather_information .left_column {
  float: left;
  position:absolute;
  text-align: left;
  padding-left: 15px;
  padding-top: 15px;
  line-height: 21px;

  font-family: 'Consolas';
  font-size: 18px;
  font-weight: 700;
  text-transform: capitalize;
  color:black;
  
  min-height: fit-content;
}

.weather_information .right_column {
  text-align: right;
  margin-right: 20px;
  padding-top: 15px;

  line-height: 21px;
  font-family: 'Courier New';
  font-size: 17px;
}

table {
  /* font-family: arial, sans-serif; */
  border-collapse: collapse;

  table-layout: fixed;
  width: 100%;
  color:black;
  height: 20px;
}

hr {
  margin-top: 13px;
  width: 300px;
}

.forecast_container { 
  display: flex;
  width: 500px;
  height: 125px;
  background-color: rgba(255,255,255,0.4);
  border-radius: 0px 0px 16px 16px;

  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: center;
}

.forecast_container .today {
  
}

.forecast_container .oneAfter {
  
}

.forecast_container .twoAfter {
  
}

.forecast_container .threeAfter {
  
}

.forecast_container .fourAfter {
  
}

.forecast_container .fiveAfter {
  
}
